import(optparse)
import(methods)
import(BiocInstaller)
importMethodsFrom(graph, acc, nodes)
import(biocViews)
import(httr)
importFrom(tools, parse_Rd, Rd2ex)
importFrom(codetools, walkCode)
importFrom(utils, Stangle, capture.output, data, getParseData, head,
    packageDescription, packageVersion, untar, globalVariables)

export(BiocCheck)
export(usage)
export(.error, .warning, .note)
