import(optparse)
import(methods)
import(BiocInstaller)
import(graph)
import(biocViews)
importFrom(devtools, create, unload)
importFrom(knitr, purl)
importFrom(tools, parse_Rd, Rd2ex)
importFrom(codetools, checkUsageEnv)

export(BiocCheck)
export(usage)